/*Home Page*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main_bar {
    background-color: #eee;
    padding: 20px;
    font-size: 18px;
}

.menu_bar {
    background-color: #10312b;
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

ul.nav > li {
    display: inline;
    padding-right: 10px;
}

ul.nav > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

ul.nav > li > a:hover, a.active {
    color: #ff2d39;
    font-weight: bold;
}

ul.nav > li > a.active {
    color: #ff2d39;
    font-weight: bold;
}

.page {
    width: 100%;
    margin: 0px auto;
}

.page > img.banner_img {
    width: 100%;
    height: 550px;
}

/*Events*/
.events{
    margin-left: 100px;
}

.event_title {
    font-weight: bold;
}

.event {
    display: inline-block;
    width: 26.6666%;
    margin-right: 60px;
}

.event img {
    width: 200px;
}

ul.contact_details {
    line-height: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

fieldset {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
}

#contact-form input, select {
    width: 50%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form button {
    background: #337ab7;
    border: 1px solid #2e6da4;
    padding: 5px 18px 5px 18px;
    border-radius: 2px;
}

#contact-form button:hover {
    background: #2e6da4;
}

.contact_details li > span {
    font-size: small;
    font-weight: bold;
}

.controls {
    line-height: 20px;
}

/*Exams*/
table{
    width: 100%;
}

table, tr, td, th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}

tr {
    line-height: 40px;
}