body {
    margin: 0;
    padding: 0;
}

.main_bar {
    background-color: #eee;
    padding: 20px;
}

.menu_bar {
    background-color: #ccc;
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

ul.nav > li{
    display: inline;
    padding-right: 10px;
}

ul.nav > li > a {
    color: #000;
    text-decoration: none;
}

ul.nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
}